h2 { 
  color: blue;
  font-size: 80px;
  text-align: center;
   text-decoration-line: overline;
  text-decoration-color: green;
   text-decoration-style: wavy;
  letter-spacing: -4px;
  word spacing: 10px;
  text-shadow: 2px 2px 1px pink;
 
  
}

body{ 
  background-color: red;
}

img {
  width: 25%;
  border: dotted blue 7px;
  border-radius: 30%
}

img:hover {width: 40%;
border: dotted gold;
}
  
